* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.종이 {
    width: 670px;
    height: 960px;
    border: 1px solid #AACDFF;
    border-radius: 20px;

    padding-top: 72px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;

    box-shadow: 7px 7px 39px 0px #0068FF40;
}

.제목 {
    color: #0068FF;
    font-size: 32px;
    font-weight: 700;
}

.제목1 {
    margin-bottom: 60px;
}

.네임택 {
    color: #797979;
    font-size: 16px;
    font-weight: 400;

    padding-top: 20px;
}

.입력창 {
    width: 466px;
    font-size: 26px;
    color: orange;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #CFCFCF;

    outline: none;
    
}

.입력창:focus {
    border-bottom: 2px solid #0068FF;
}

.우리동네 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

label {
    margin-right: 30px;
}

#여자선택 {
    margin-right: 5px;
}

#남자선택 {
    margin-right: 5px;
}

.훈이동네 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

#동의하기체크 {
    margin-right: 15px;
}

.가입하는버튼 {
    width: 470px;
    height: 75px;
    border: 1px solid #0068FF;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
}

.가입하는버튼:hover {
    color: white;
    background-color: blue;
}